{%- macro provider_chips(providers) -%}
{%- set colors = {
  'aws':          'pchip--aws',
  'google':       'pchip--google',
  'azurerm':      'pchip--azurerm',
  'azure':        'pchip--azurerm',
  'kubernetes':   'pchip--kubernetes',
  'helm':         'pchip--helm',
  'github':       'pchip--github',
  'datadog':      'pchip--datadog',
  'vault':        'pchip--vault',
  'oci':          'pchip--oci',
  'alicloud':     'pchip--alicloud',
  'ibm':          'pchip--ibm',
  'cloudflare':   'pchip--cloudflare',
  'digitalocean': 'pchip--digitalocean',
  'linode':       'pchip--linode',
  'vsphere':      'pchip--vsphere',
  'openstack':    'pchip--openstack',
  'scaleway':     'pchip--scaleway',
  'hcloud':       'pchip--hcloud',
  'ovh':          'pchip--ovh',
  'exoscale':     'pchip--exoscale'
} -%}
{%- for p in providers -%}<span class="pchip {{ colors.get(p, '') }}">{{ p }}</span>{% if not loop.last %} {% endif %}{%- endfor -%}
{%- endmacro %}

{%- macro provider_code(p) -%}
{%- set codes = {
  'aws':          'AWS',
  'azurerm':      'AZR',
  'azure':        'AZR',
  'google':       'GCP',
  'oci':          'OCI',
  'alicloud':     'ALI',
  'ibm':          'IBM',
  'kubernetes':   'K8S',
  'helm':         'K8S',
  'vsphere':      'VMW',
  'openstack':    'OST',
  'digitalocean': 'DGO',
  'linode':       'LIN',
  'cloudflare':   'CLF',
  'datadog':      'DDG',
  'github':       'GHB',
  'vault':        'VLT',
  'hcloud':       'HCL',
  'ovh':          'OVH',
  'scaleway':     'SCW',
  'exoscale':     'EXO'
} -%}
{%- if p in codes %}{{ codes[p] }}{%- else %}{{ (p | upper)[0:3] }}{%- endif -%}
{%- endmacro %}
